.container {
    position: relative;

    .subtile {
        position: absolute;
        width: 32px;
        height: 32px;
        max-width: 32px;
        max-height: 32px;
        overflow: hidden;
        display: block;
    }

    .subtileLeft {
        left: -16px;
    }

    .subtileRight {
        left: 16px;
    }
}